
data.txt

*.pyc

log.txt


DaqExample/data_new_100hz_60s.txt
DaqExample/data_old_60s.txt
DaqExample/log_new_100hz_60s.txt
DaqExample/log_new_100hz_60s_time4.txt
DaqExample/log_old_60s.txt
DaqExample/debug.txt
